[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=BtKbStart
Comment=Connect to bluetooth keyboard
Exec=/usr/bin/sudo start kbdd
Icon=kbdd_on
Terminal=false
Type=Application
X-HildonDesk-ShowInToolbar=false
X-Osso-Type=application/x-executable
StartupNotify=false
